<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
	<title>FloLabs : Dashboard</title>
</head>
<body>
	<center><h1>Dashboard</h1></center>
	<a href="/users/logout">Logout</a>
</body>
</html>